.jumbotron {
    background-color: black;
    color: white;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: lightgray;
    margin-top:15px;
}

.card-artists{
    margin-top: 10px;
    flex: 1 150px;
}

.btn-artists {
    width: 100%;
    border-radius: 0;
}

.footer-address-icon{
    padding-right: 10px
}