.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px,10px,0,10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-artists {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-artists {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
